body {
    background-color: lightblue;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}

.minhaClasse {
    font-family: arial;
    font-size: 30px;
}

p.primeiro{
    font-size: 50px;
}
  